<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header"><h1>Vendas Online</h1></div>
            <div>@RenderBody("~/Views/Shared/_Header.cshtml")</div>
            <div>< a href = "~/Views/Shared/_Header.cshtml" > ~/ Views / Shared / _Header.cshtml </ a ></div>
        </div>
    </div>
    @RenderBody()
    <script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript">
        function setActivePage(pageId) {
            $(".nav li").removeClass("active");
            $("#" + pageId).addClass("active");
        }
    function registerDeleteModalInfo() {
        $(".modelItemRemove").click(function (event) {
            var $el = $(event.target);
            $('.modal').find('.modelItemName').text($el.data('modelitemname'));
            $('.modal').find('form input.modelItemId').val($el.data('modelitemid'));
        });
    }
    </script>
    @RenderSection("scripts", false)
</body>
</html>
